<h1><%= @part.part_identifier %></h1>

<h3>Basic Information</h3>
<dl class="dl-horizontal">
  <dt>Year</dt><dd><%= @part.part_year %></dd>
  <dt>Team</dt><dd><%= @part.team.team_name %></dd>
  <dt>Type</dt><dd><%= @part.part_type.type_name %></dd>
</dl>
